.main-projetos {
    width: 100%;
    min-height: 110vh;
    height: auto;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
}

.menu-projetos {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: black;
}

.conteudo-projetos {
    grid-columns: 2/3;
    grid-row: 1/2;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35% 60%;
}

.conteudo- {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo- div {
    width: 95%;
}

.conteudo- .formulario-novo {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
}

.conteudo .formulario {
    width: 100%;
    background-color: blue;
}

.tabela-todos-projetos- {
    flex-direction: column;
}

.top-projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao-adm .actives a {
    text-decoration: none;
    color: blue;
}

.navegacao-adm {
    box-shadow: rgba(0, 0, 0, 0.089) 1px 1px 1px 1px;
    text-decoration: none;
    margin-bottom: 5px;
}
.navegacao-adm a {
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-decoration: none;
}
.top-projetos div {
    width: 95%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
}

.editar-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgba(211, 211, 211, 0.486);
    border-radius: 10px;
    padding: 20px;
    padding-right: 40px;
    box-shadow: rgba(174, 174, 174, 0.562) 3px 3px 3px 3px;
}

.filtro-editar-projeto {
    display: flex;
    width: 50px;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
}

.filtro-editar-projeto div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filtro-editar-projeto div button {
    margin-top: 10px;
}

.filtro-editar-projeto div input {
    margin-top: 10px;
}

.filtro-editar-projeto div select {
    margin-top: 10px;
}

.tabela-editar-anuncio {
    width: 600px;
}

.tabela-editar-anuncio table {
    width: 700px;
}

@media screen and (max-width : 1050px) {
    .main-projetos {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .conteudo-projetos {
        height: 100%;
    }

    .menu-projetos {
        height: 100%;
    }

    .editar-projeto {
        display: flex;
        flex-direction: column;
    }

    .filtro-editar-projeto div {
        display: flex;
        flex-direction: row;
    }
}