.tabelaProjetos {
    width: 100%;
    overflow: auto;
}

.tabelaProjetos div {
    height: 300px;
}

.tabela-projetos-table {
    font-size: 10px;
}

@media screen and (max-width : 1070px) {
    .tabelaProjetos div {
        height: 200px;
    }
}
@media screen and (max-width : 550px) {
    .tabelaProjetos {
        height: 100%;
    }
    .tabela-projetos-table {
        font-size: 7px;
    }
}