.loadingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0);
    background-image: url('./loading-buffering.gif');
}