.menuprojetolateral {
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.buttos-menulateralprojeto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.button-menulateralprojeto {
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    transition:  all 0.5s;
    text-align: start;
    margin-bottom: 5px;
}
.button-menulateralprojeto:hover {
    background-color: rgb(58, 58, 58);
}
.logo-menulateral{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width : 1050px) {
    .menuprojetolateral{
        display: flex;
        flex-direction: row;
    }
    .buttos-menulateralprojeto{
        display: flex;
        flex-direction: row;
    
    }
    .button-menulateralprojeto{
        padding-top: 4px;
        padding-bottom: 0px;
    }
    .imagem-logo-menu-projeto{
        display: none;
        justify-content: center;
    }
}