.tabelaCcusto {
    width: 100%;
    overflow: auto;
}

.tabelaCcusto div {
    height: 300px;
}

.tabela-ccusto-table {
    font-size: 10px;
}

@media screen and (max-width : 1070px) {
    .tabelaCcusto div {
        height: 200px;
    }
}
@media screen and (max-width : 550px) {
    .tabelaCcusto {
        height: 100%;
    }
    .tabela-ccusto-table {
        font-size: 7px;
    }
}
