.page-ccusto{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
}
.list-ccusto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastro-ccusto{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 187, 187, 0.123);
    padding: 10px;
    font-size: 13px;
    padding-bottom: 30px;
    box-shadow: rgb(201, 201, 201) 2px 0px 5px 1px;
    margin-bottom: 30px;
}
.mensagem-ccusto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: rgb(68, 68, 68);
}
.tabelaccusto-page{
  width: 90%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
