.page-ccusto{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
}
.list-ccusto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastro-ccusto{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.mensagem-ccusto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(68, 68, 68);
}