.tabelaRegistros {
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgb(250, 250, 250);
}

.tabelaRegistros div {
    height: 100%;
}

.tabela-registros-table {
    font-size: 10px;
}

@media screen and (max-width : 1070px) {
    .tabelaRegistros div {
        height: 200px;
    }
}
@media screen and (max-width : 550px) {
    .tabelaRegistros {
        height: 100%;
    }
    .tabela-registros-table {
        font-size: 7px;
    }
}
